<mat-toolbar>
    <button mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Advance Routing App</span>
    <button mat-button routerLink="/books">Books</button>
    <button mat-button routerLink="/users">Users</button>
    <button mat-button routerLink="/about">About</button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
