<mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let user of users$ | async">
        <mat-card-header>
            <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="user.avatarUrl">
        <mat-card-actions class="course-actions">
            <button mat-button class="mat-raised-button mat-primary" [routerLink]="[user.id]">
                View
            </button>
        </mat-card-actions>
    </mat-grid-tile>
</mat-grid-list>